<div class="social">
  <a
    class="icon-link"
    href="https://www.github.com/angelozdev"
    target="_blank"
    aria-label="GitHub"
  >
    <img
      aria-label="GitHub"
      loading="lazy"
      width="18px"
      height="18px"
      src="/github.svg"
      alt="GitHub"
    />
  </a>

  <a
    class="icon-link"
    href="https://www.linkedin.com/in/angelozdev"
    target="_blank"
    aria-label="LinkedIn"
  >
    <img
      aria-label="LinkedIn"
      loading="lazy"
      width="18px"
      height="18px"
      src="/linkedin.svg"
      alt="LinkedIn"
    />
  </a>
</div>

<style>
  .icon-link {
    text-decoration: none;
    color: var(--color-text);
    line-height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0.5rem;
    -webkit-tap-highlight-color: transparent;
  }

  .social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  @media screen and (max-width: 640px) {
    [aria-label="LinkedIn"] {
      display: none;
    }
  }
</style>
