---
import Link from "./components/link.astro";
---

<header class="header">
  <nav class="nav">
    <ul class="list">
      <Link href="#home">Home</Link>
      <Link href="#profile">Profile</Link>
      <Link href="#services">Services</Link>
    </ul>
  </nav>
</header>

<style>
  .header {
    background-color: var(--color-background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .nav {
    padding: 0 1rem;
    margin: 0 auto;
    width: min(var(--bp-xs), 100%);
  }

  .list {
    padding: 0;
    text-align: center;
    list-style: none;
    margin: 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
  }
</style>
